<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
    <meta http-equiv="refresh" content="2;URL=/certificate?certName={{.CertName}}&fetchKey={{.FetchKey}}">
  </head>

  <body>
    <div class="wrapper">
      <img src="static/images/logo.svg" alt="Logo" width="220" height="191" />
      <h1>Printing your certificate</h1>
    <div>
      {{if .Error}}
      <div class="error">{{.Error}}</div>
      {{end}}
      {{if .CertName}}
      <div class="success">
      <p style="color: seagreen">Your certificate should now get printed! Redirecting to your certificate in 2 seconds...</p>
      </div>
      <form method="GET" action="/certificate" class="form">
        <input name="certName" type="text" value="{{.CertName}}" hidden required />
        <input name="fetchKey" type="text" value="{{.FetchKey}}" hidden required />
        <input type="submit" value="Back to your certificate" class="constrain" />
      </form>
      {{end}}
    </div>
  </body>
</html>
