<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {{if .Refresh}}
    <meta http-equiv="refresh" content="{{.Refresh}}" />
    {{end}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
        rel="stylesheet"
        />
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <div class="wrapper">
      <img src="static/images/logo.svg" alt="Logo" width="220" height="191" />
      <h1 class="mainTitle">Print Your Certificate</h1>
      <div class="divider"></div>

      <div>
        {{if .Certificate}}
        <h2>Hi, {{.Name}} &lt;{{.Email}}&gt;!</h2>
        <p>Here is your certificate:</p>
        <div class="panel">
          <div class="content">{{template "certificate" .Certificate}}</div>
          <img
              src="static/images/certificate-icon.svg"
              alt="An icon representing a certificate"
              class="iconBottom"
              />
        </div>
        {{end}}

        {{if .Refresh}}
        <div class="success">The certificate will appear shortly, this page will reload itself.</div>
        {{end}}

        {{if .AlreadyPrinted}}
        <div class="success">The certificate has already been printed.</div>
        {{end}}

        {{if .MarkedToBePrinted}}
        <div class="success">The certificate is waiting to be printed.</div>
        {{end}}

        {{if .Message}}
        <div class="error">{{.Message}}</div>
        {{end}}

        {{if .Error}}
        <div class="error">
          <p>{{.Error}}</p>
        </div>
        {{end}}

        {{if .Certificate }}
        <div>
          {{if not .AlreadyPrinted}}

          <form method="POST" action="/print">
            <input name="certName" type="text" value="{{.CertName}}" hidden />
            <input name="fetchKey" type="text" value="{{.FetchKey}}" hidden />
            <button type="submit" class="constrain">Send to print</button>
          </form>

          <br />

          <div class="divider"></div>
          {{end}}

          <form method="POST" action="/sign-guestbook">
            <p>
            Signing is much more fun using your certificate! <br />

            The tarball download contains instructions. <br />

            Signing with your cert will gain you a special badge on the guestbook! <br />
            </p>
            <input name="certName" type="text" value="{{.CertName}}" hidden />
            <input name="fetchKey" type="text" value="{{.FetchKey}}" hidden />
            <button type="submit" class="constrain">
              Sign the Guestbook!
            </button>
          </form>

          <div class="divider"></div>

          <form method="GET" action="/cert-manager-bundle.tar">
            <input name="certName" type="text" value="{{.CertName}}" hidden />
            <input name="fetchKey" type="text" value="{{.FetchKey}}" hidden />
            <button type="submit" class="constrain">
              Download Cert Bundle Tarball
            </button>
          </form>

          <br />

          <form method="GET" action="/download">
            <input name="certName" type="text" value="{{.CertName}}" hidden />
            <input name="fetchKey" type="text" value="{{.FetchKey}}" hidden />
            <button type="submit" class="constrain">
              Download PEM Certificate Chain
            </button>
          </form>

          <br />

          <form method="GET" action="/downloadpkey">
            <input name="certName" type="text" value="{{.CertName}}" hidden />
            <input name="fetchKey" type="text" value="{{.FetchKey}}" hidden />
            <button type="submit" class="constrain">
              Download PEM Private Key
            </button>
          </form>
        </div>
        {{end}}

        <div class="divider"></div>

        <div>
          <a href="/">
            <button type="submit" class="constrain">Go back to the creation page</button>
          </a>
        </div>

        {{if .Debug}}
        <div class="divider"></div>
        <pre>{{.Debug}}</pre>
        {{end}}

        <div class="divider"></div>

        <footer>
          <p>
          Powered by <a href="https://cert-manager.io" target="_blank">cert-manager.io</a>
          </p>
          <p class="small">
          Project proudly supported by
          <a href="https://venafi.com" target="_blank">Venafi</a>
          </p>
          <p class="small">
          Design by <a href="https://constantinchirila.com" target="_blank">Constantin Chirila</a>
          </p>
        </footer>
  </body>
</html>
