<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {{if .Refresh}}
    <meta http-equiv="refresh" content="{{.Refresh}}" />
    {{end}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
        rel="stylesheet"
        />
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <div class="wrapper">
      <img src="static/images/logo_grad.svg" alt="Logo" width="325" height="386" style="margin-bottom: 25px;" />

      <h1 class="mainTitle">Print Your Certificate</h1>
      <h2>Powered by cert-manager</h2>

      <div class="divider"></div>

      <div>
        <p>
        <strong>{{.CountPrinted}}</strong> certificates have already been
        printed, and there are <strong>{{.CountPending}}</strong> waiting to be printed.
        See <a href="/list">the list</a>.
        </p>
        <p>
        Fill in your details and create your very own certificate which will
        get printed for you to take home.
        </p>
      </div>

      <div class="divider"></div>

      <form method="GET" action="/" class="form">
        <input
            name="name"
            type="text"
            value="{{.Name}}"
            required
            placeholder="Your name"
            autocomplete="off"
            />
        <div class="inputWrapper">
          <input
              name="email"
              type="text"
              value="{{.Email}}"
              required
              placeholder="Your email address"
              autocomplete="off"
              />
          {{if .Error}}
          <div class="error">{{.Error}}</div>
          {{end}}

          {{if .Duplicate}}
          <div class="error">
            This email has already been used for creating a certificate
          </div>
          {{end}}
        </div>
        <div class="inputWrapper">
          <p>Pick your certificate's color:</p>
          <table>
            <tr>
              <td>
                <label for="P">Pink</label>
                <input type="radio" name="cardcolor" id="P" value="P" checked />
              </td>

              <td>
                <label for="R">Random!</label>
                <input type="radio" name="cardcolor" id="R" value="R" checked />
              </td>

              <td>
                <label for="Y">Yellow</label>
                <input type="radio" name="cardcolor" id="Y" value="Y" />
              </td>

              <td>
                <label for="W">White</label>
                <input type="radio" name="cardcolor" id="W" value="W" />
              </td>
              </tr>
            </table>
          </div>
          <button type="submit">Get your certificate</button>
      </form>

      <p
          style="
                 font-size: 10px;
                 color: white;
                 max-width: 500px;
                 margin: 20px auto;
                 "
          >
          Your email will not be displayed on-screen, just your name. These
          details are used to fill in the "Subject" field of the X.509
          certificate, and will be removed within six months.<br />
          We may send a follow-up thank you email using the address provided.
      </p>

      <div class="push"></div>
    </div>

    <footer>
      <p>
      Powered by <a href="https://cert-manager.io" target="_blank">cert-manager.io</a>
      </p>
      <p class="small">
      Project proudly supported by
      <a href="https://venafi.com" target="_blank">Venafi</a>
      </p>
      <p class="small">
      Design by <a href="https://constantinchirila.com" target="_blank">Constantin Chirila</a>
      </p>
    </footer>
    {{if .Debug}}
    <pre>{{.Debug}}</pre>
    {{end}}
  </body>
</html>

{{define "urltocertificate"}}
<a href="/certificate?certName={{.}}">{{.}}</a>
{{end}}
