<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style></style>
  </head>
  <body>
    <h1>Create your certificate</h1>
    <div>
      <form method="GET" action="/">
        <label>Name</label>
        <input name="name" type="text" value="{{.Name}}" required />
        <label>Email</label>
        <input name="email" type="text" value="{{.Email}}" required />
        <input type="submit" value="Get your certificate" />
      </form>
    </div>
    <div>
      {{if .Error}}
      <p style="color: #800000">{{.Error}}</p>
      {{end}} {{if .Message}}
      <p style="color: seagreen">{{.Message}}</p>
      {{end}} {{if .Certificate}}
      <div>{{template "certificate" .Certificate}}</div>
      <div>
        <form method="POST" action="/print">
          <input name="name" type="text" value="{{.Name}}" hidden />
          <input name="email" type="text" value="{{.Email}}" hidden />
          <input
            type="submit"
            value="Print your certificate"
            {{if
            not
            .CanPrint}}
            disabled
            {{end}}
          />
        </form>
        {{if .Certificate}}
        <form method="GET" action="/download">
          <input name="email" type="text" value="{{.Email}}" hidden />
          <input type="submit" value="Dowload in PEM format" />
        </form>
        <p style="color: darkgreen">
          The certificate has already been printed.
        </p>
        {{end}} {{if .MarkedToBePrinted}}
        <p style="color: darkgreen">
          The certificate is waiting to be printed.
        </p>
        {{end}}
      </div>
      {{end}}
    </div>
    {{if .Debug}}
    <pre>{{.Debug}}</pre>
    {{end}}
  </body>
</html>
