<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="{{.Refresh}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <div class="wrapper">
      <br />
      <img src="static/images/logo.svg" alt="Logo" />
      <h1 class="mainTitle">Print Your Certificate</h1>
      <div class="divider"></div>
      <h2 class="secondaryTitle">Last certificates that were printed</h1>
        <div class="panel large">
          <div class="content">
            <table>
              <thead class="header">
                  <tr>
                      <th>#</th>
                      <th>Common name</th>
                      <th>State</th>
                  </tr>
              </thead>
              <tbody>
                {{range .Certificates}}
                <tr>
                  <td class="bold">1.</td>
                    <td class="bold">{{.CommonName}}</td>
                    <td>{{.State}}</td>
                </tr>
                {{end}}
                  
              </tbody>
              </table>
          </div>

        </div>
        
      <div class="push"></div>
    </div>
    <footer>
      <p>
        Powered by
        <a href="https://cert-manager.io" target="_blank">cert-manager.io</a>
      </p>
      <p class="small">
        Project proudly supported by
        <a href="https://jetstack.io" target="_blank">jetstack.io</a>
      </p>
      <p class="small">
        Design by
        <a href="https://constantinchirila.com" target="_blank"
          >Constantin Chirila</a
        >
      </p>
    </footer>
    {{if .Debug}}
    <pre>{{.Debug}}</pre>
    {{end}}
  </body>
</html>
