<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="{{.Refresh}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/styles.css" />
  </head>

  <body>
    <div class="wrapper">
      <img src="static/images/logo.svg" alt="Logo" />
      <h1 class="mainTitle">Print Your Certificate</h1>
      <div class="divider"></div>
      <div>
        <h2>Hi, {{.Name}} <{{.Email}}>!</h2>
        <p>Here is your certificate:</p>
        {{if .Certificate}}
        <div class="panel">
          <div class="content">{{template "certificate" .Certificate}}</div>
          <img
            src="static/images/certificate-icon.svg"
            alt=""
            class="iconBottom"
          />
        </div>
        {{end}} {{if .AlreadyPrinted}}
        <div class="success">The certificate has already been printed.</div>
        {{end}} {{if .MarkedToBePrinted}}
        <div class="success">The certificate is waiting to be printed.</div>
        {{end}}
        <div>
          <form method="POST" action="/print">
            <input name="name" type="text" value="{{.Name}}" hidden />
            <input name="email" type="text" value="{{.Email}}" hidden />
            <button type="submit" class="constrain">Send to print</button>
          </form>
          <br />
          <form method="GET" action="/download">
            <input name="email" type="text" value="{{.Email}}" hidden />

            <p style="color: darkgreen"></p>
            <button type="submit" class="constrain">
              Download in PEM format
            </button>
          </form>
        </div>
      </div>

      <div class="push"></div>
    </div>
    <footer>
      <p>
        Powered by
        <a href="https://cert-manager.io" target="_blank">cert-manager.io</a>
      </p>
      <p class="small">
        Project proudly supported by
        <a href="https://jetstack.io" target="_blank">jetstack.io</a>
      </p>
      <p class="small">
        Design by
        <a href="https://constantinchirila.com" target="_blank"
          >Constantin Chirila</a
        >
      </p>
    </footer>
    {{if .Debug}}
    <pre>{{.Debug}}</pre>
    {{end}}
  </body>
</html>
